* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Styling of the section that contains  All divs */
.cv {
    width: 900px;
    background-color: rgb(214, 25, 25);
    margin: auto;
    box-shadow: 30px 30px 40px 10px rgba(66, 61, 67, 1);
}

.container {
    display: flex;
}

/* start cvData1 ((Left section of cv)) */
.cvData1 {
    width: 35%;
    background-color: rgba(66, 61, 67, 1);
    margin-top: 30px;
    position: relative;

}



.profileImg {
    width: 50%;
    height: 200px;
    background-color: rgb(214, 25, 25);
    margin: auto;
     border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    margin-bottom: 70px;
    position: relative;
    border-top-left-radius: 0px;
}

.profileImg img
{
    width: 100px; /* Ajustez cette valeur pour la largeur souhaitée */
    height: 100px; 
   margin-top: 25px;
   border-radius: 50%;
   box-shadow: 8px 8px 20px rgba(66, 61, 67, 1);

}


/* Start Contacts in left side*/

.contacts .cotactsTitle,
.skills .skillsTitle,
.languages .languagesTitle {
    background-color: rgb(214, 25, 25);
    padding: 15px 18px 18px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 20px;


}

.contacts .cotactsTitle h3,
.skills .skillsTitle h3,
.languages .languagesTitle h3 {
    color: white;
    background-color: rgba(66, 61, 67, 1);
    padding: 20px 20px 23px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 5px 7px 8px rgba(66, 61, 67, 1);
}

.contacts .contact span {
    color: white;
    font-size: 20px;

}

.contacts .contact i {
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}

.contactContainer {
    width: 73%;
    margin: auto;
}

.contactContainer .contact {
    margin: 10px 0px;
}

/* Skills */

.skillsContainer {
    margin: 20px 0px;
}

.skills .skill-1 h4,
.skill-2 h4,
.skill-3 h4,
.skill-4 h4, 
.skill-5 h4 {
    color: white;
    text-align: center;
    position: relative;
}

.skills h4::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 90px;
}

.skills h4::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    top: 50%;
    right: 90px;
}

.skill-1 .progressBar,
.skill-2 .progressBar,
.skill-3 .progressBar,
.skill-4 .progressBar,
.skill-5 .progressBar {
    width: 85%;
    height: 20px;
    border: 1px solid white;
    margin: 10px auto;
}

.skill-1 .progressBar .ratio,
.skill-2 .progressBar .ratio,
.skill-3 .progressBar .ratio,
.skill-4 .progressBar .ratio,
.skill-5 .progressBar .ratio {
    background-color: white;
    height: 30%;
    margin: 6px;
    border-radius: 20px;
}

.skill-1 .ratio {
    width: 92%;
}

.skill-2 .ratio {
    width: 45%;
}

.skill-3 .ratio {
    width: 60%;
}


.skill-4 .ratio {
    width: 75%;
}

.skill-5 .ratio {
    width: 70%;
}

/* Languages */

.languagesContainer {

    display: flex;
    margin-top: 50px;
    justify-content: center;

}

.language {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.languagesContainer p {
    color: white;
    text-align: center;
    margin: 10px 0px;
}

.languagesContainer :nth-child(2) .language {
    border-right: 10px solid transparent;
}

.languagesContainer :nth-child(3) .language {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* End cvData1 ((Left section of cv)) */






/* Start cvData2 ((right section of cv)) */

.cvData2 {
    width: 65%;
    margin-top: 30px;
    background-color: rgba(66, 61, 67, 1);
    padding-left: 30px;

}

.cvTitle h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.cvTitle h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    position: relative;
}

.cvTitle h2::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 12%;

}

.cvTitle h2::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    background-color: white;
    top: 50%;
    right: 12%;
}


.cvContent {

    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 20px;
    height: 100%;

}

.profile {
    border-top-left-radius: 20px;
}

.emptyDiv {
    background-color: white;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.profile,
.education,
.work {
    border-bottom-left-radius: 20px;
}


.profileTitle,
.educationTitle,
.workTitle {
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: 20px;
    background-color: white;
}

.profileTitle h3,
.educationTitle h3,
.workTitle h3 {
    border-bottom: 3px solid rgba(66, 61, 67, 1);
    margin-bottom: 33px;
    width: 83%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.profileTitle h3 i,
.educationTitle h3 i,
.workTitle h3 i {
    margin-right: 10px;
    color: rgb(214, 25, 25);
   
}


.profile .userIcon i,
.education .educationIcon i,
.work .workIcon i {
    font-size: 35px;
    background-color: rgba(66, 61, 67, 1);
    padding: 25px 30px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    position: relative;
}

.education .educationIcon i,
.work .workIcon i {
    margin-top: 0px;
}

.profile .profileDeScription,
.education .educationDeScription,
.work .workDescription {
    color: rgba(66, 61, 67, 1);
    ;
    padding: 20px 20px;
    text-align: justify;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
}

.work .workDescription {
    border-bottom-left-radius: 0px;
}

.degree-1,
.degree-2,
.degree-3,
.degree-4,
.work-1,
.work-2,
.work-3 {
    display: flex;
    gap: 27px;
}

.degree-2,
.work-2 {
    margin: 20px 0px;
}

.degreeInfo h4,
h5,
.workInfo h4,
h5 {
    text-transform: capitalize;
}

.degreeInfo h4,
.workInfo h4 {
    font-weight: 600;
}

.degreeInfo h5,
.workInfo h5 {
    margin-top: 7px;
    margin-bottom: 10px;
}

.degreeInfo h5,
.degreeInfo p,
.degreeInfo span,
.workInfo h5,
.workInfo p,
.workInfo span {
    color: #9e9e9e;
}

